@media print {

    /* hide browser navigation elements */
    header, footer {
        display: none;
    }

    main {
        padding-bottom: 15px;
    }

    #print_h1 {
        display: block !important;
    }

    main a {
        color: inherit !important;
    }

    main a:hover {
        text-decoration: underline;
    }

    table {
        border-collapse: collapse;
    }

    table td, table th {
        border: 1px solid black;
        padding: 0.1em 0.25em;
        vertical-align: top;
    }

    .small-font {
        font-size: 0.8em;
    }
}
