@media print {

    /* hide browser navigation elements */
    nav, footer {
        display: none;
    }
}

.content a {
    color: inherit !important;
}

.content a:hover {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid black;
    vertical-align: top;
}

.small-font {
    font-size: 0.8em;
}
