body {
    background-color: #ebebe0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

header+*{
    padding: 0.5em;
}

header {
    margin: 0;
    padding: 0.5em 0em 0em 0em;
}

nav {
   background: #333333;
}

nav ul {
    list-style-type: none;
    padding-left: 15px;
}

nav ul li {
    display: inline-table;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.error {
    border: 1px solid red;
    border-radius: 0.5em;
    padding:       0.5em;
    background-color: OldLace;
    color: Red;
}

.inline {
    display: inline;
}

table td input[type=checkbox] {
    /* center checkbox in table column */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header a {
    text-decoration:none;
    color: black;
}

header nav a {
    color: #ebebe0;
}

header nav li:hover a{
    color:black;
}

.navbar {
    background-color: #4CAF50;
}

h1 {
    margin-top: 0.5em;
    padding-left: 15px;
    
}

.basic {
    background: #333333;
    min-width: 3em;
    text-align: center;
    line-height: 2em;
}
.basic:hover{
        background-color:#ebebe0;
}

input[type="number"] {
    text-align: right;
}