/******** general settings ********/

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    background-color: #ebebe0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', serif;
    position: relative;
    padding-bottom: 6rem;
    min-height: 100%;
    color: #333333;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}




/******** header part ********/

/* padding for Coocook headline, not put to header to avoid space between header and navbar */
.mainlinks {
    padding-left: 15px;
}

.mainlinks:hover, .mainlinks:active {
    color: #ebebe0;
}

header {
    margin: 0;
    padding-top: 15px;
    background-color: #4CAF50;
}

nav {
    background: #333333;
    -webkit-box-shadow: 2px 2px 3px grey;
    -moz-box-shadow: 2px 2px 3px grey;
    box-shadow: 2px 2px 3px grey;
}

nav ul {
    list-style-type: none;
    padding-left: 10px;
}

nav ul li {
    display: inline-table;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background: #333333;
    min-width: 3em;
    text-align: center;
    line-height: 2em;
}

nav ul li:hover{
    background-color:#ebebe0;
}

header nav a {
    text-decoration:none;
    color: #ebebe0;
}

header nav a li:hover{
    color: #333333;
}




/******** content part ********/

.content{
    padding: 15px;
}

a {
    text-decoration:none;
    color: #333333;
}

.content a {
    text-decoration:none;
    color: #4CAF50;
    padding-right: 15px;
}

.content a:hover, .content a:active {
    color: #333333;
}

.error {
    border: 2px solid red;
    padding: 0.5em;
    background-color: #ebebe0;
    color: Red;
}

input {
    -webkit-box-shadow: 2px 2px 3px grey;
    -moz-box-shadow: 2px 2px 3px grey;
    box-shadow: 2px 2px 3px grey;
}

input[type="number"] {
    text-align: right;
}

input[type="submit"] {
    margin: 15px 15px 0 0;
    background-color: #ebebe0;
    border: 1px solid #333333;
}

table td input[type="checkbox"]:first-child:last-child {
    /* center single checkbox in table column */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

select {
    -webkit-box-shadow: 2px 2px 3px grey;
    -moz-box-shadow: 2px 2px 3px grey;
    box-shadow: 2px 2px 3px grey;
}

ul {
    padding: 0;
    list-style-type: none;
}

.ul_table {
    display: table;
}

.ul_table-cell {
    display: table-cell;
}




/******** footer part ********/

footer {
    background-color: #333333;
    color: #ebebe0;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 3em;
    padding: 0.5em 15px 0.5em 15px;
    margin: 0 auto;
}