/******** general settings ********/

html {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    background-color: #f5f5ef;
    margin: 0;
    font-family: Georgia, 'Times New Roman', serif;
    position: relative;
    height: 100%;
    color: #333333;
}

#container {
    min-height: 100%;
    position: relative;
}

/******** header part ********/

/*** general part ***/

header {
    margin: 0;
    background-color: #4CAF50;
}

header nav ul {
    list-style-type: none;
    padding-left: 0;
}

header nav li {
    display: inline;
}

/* "Logout" must be button for POST request but style like link */
header nav input[name="logout"]:hover,
header nav input[name="logout"] {
    border: 0;
    font-family: inherit;
    font-size:   inherit;
    cursor: pointer;
}

/*
 * stop Firefox adding 2px to the submit button's height
 * see https://stackoverflow.com/questions/12288175/firefox-adds-2px-padding-in-a-submit-button
 */
header nav input[name="logout"]::-moz-focus-inner { border:0; padding:0 }

header h1 {
	font-size: 2.5em;
}

header p {
	margin: 0;
	padding: 0 0.5em 0 0.5em;
	color: #f5f5ef;
}

header p a {
	color: #f5f5ef;
}

/*** user nav ***/
header #user_nav {
	height: 7em;
	padding: 0 1.5em 0 1.5em;
	display: flex;
	justify-content: space-between;
}

header #h1-div {
	align-self: center;
}

header #user_nav li {
	padding-left: 1em;
}

header #user_nav a {
	padding: 0;
}

header #user_nav h4 a:hover,
header #user_nav h4 a:active {
	color: #333333;
}

header #user_nav a:hover,
header #user_nav a:active {
    color: #f5f5ef;
}

header #user_nav ul {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

header #user_nav ul p + div {
	margin-top: 1em;
}

header #user_nav ul div:only-child {
	margin-top: 3em;
}

header #user_nav h4 {
	margin: 0;
	padding: 0 0.5em 0 0.5em;
	color: #f5f5ef;
}

header #user_nav h4 a {
	color: #f5f5ef;
}

header nav input[name="logout"] {
	background-color: #4CAF50;
}

header nav input[name="logout"]:active,
header nav input[name="logout"]:hover {
    color: #f5f5ef;

    -webkit-box-shadow: 0px 0px 0px grey !important;
    -moz-box-shadow:    0px 0px 0px grey !important;
    box-shadow:         0px 0px 0px grey !important;
}

/*** project nav ***/
header #project_nav {
    background: #333333;
    color: #f5f5ef;
	width: 100%;
	height: 2em;
	padding: 0 1em 0 1em; 
}

header #project_nav ul {
	margin: 0;
}

header #project_nav a,
header #submenu_nav a {
    display: inline-block;
    padding-left: 0.5em;
    padding-right: 0.5em;
    min-width: 3em;
    line-height: 2em;

    background-color: inherit;
    color:            inherit;
    text-align: center;
    text-decoration:none;
}

header #project_nav a:hover {
    background-color:#f5f5ef;
    color: #333333;

    -webkit-box-shadow: 0px 2px 3px grey;
    -moz-box-shadow:    0px 2px 3px grey;
    box-shadow:         0px 2px 3px grey;
}

/*** submenu nav ***/
header #submenu_nav {
	width: 100%;
	padding: 0 1em 0 1em; 
}

header #submenu_nav a:hover,
header #submenu_nav a.current {
	color: #f5f5ef;
}

/******** content part ********/

main {
    padding: 1.5em;
    padding-bottom: 12em; /*necessary for position of footer*/
}

a {
    text-decoration:none;
    color: #333333;
}

main a {
    text-decoration:none;
    color: #4CAF50;
}

main a:hover,
main a:active {
    color: #333333;
}

a.anchor {
    color: inherit;
}

a.anchor:before {
    content: '¶ ';
    color: grey;
    visibility: hidden;
}

a.anchor:hover:before {
    visibility: visible;
}

abbr[title] { /* reset default Browser style with underline */
    border-bottom:   none;
    text-decoration: none;
}

code {
    background-color: LightGray;
    border-radius: 0.25em;
    padding:       0.25em;
}

.error {
    border: 2px solid red;
    padding: 0.5em;
    background-color: #f5f5ef;
    color: Red;
}

.inline,
.inline * {
    display: inline;
}

input:hover, input:focus {
    -webkit-box-shadow: 2px 2px 3px grey;
    -moz-box-shadow:    2px 2px 3px grey;
    box-shadow:         2px 2px 3px grey;
}

input[type="number"] {
    text-align: right;
}

input[type="submit"] {
    background-color: #f5f5ef;
    border: 1px solid #333333;
}

input[type="submit"]:hover, input[type="submit"]:active{
    background-color: #4CAF50;
}

.markdown-preview {
    width: 50%;
    float: right;
    overflow: auto;
    background-color: white;
}

.markdown-preview + input[type="text"],
.markdown-preview + textarea {
    display: block;
    width: 45%;
    width: calc( 50% - 2em );
}

.markdown-preview + input[type="text"] + *,
.markdown-preview + textarea           + * {
    clear: both;
}

table td input[type="checkbox"]:first-child:last-child {
    /* center single checkbox in table column */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table td.right-align { text-align: right }

select:hover, select:active {
    -webkit-box-shadow: 2px 2px 3px grey;
    -moz-box-shadow: 2px 2px 3px grey;
    box-shadow: 2px 2px 3px grey;
}

fieldset{
    border: 1px solid #333333;
}

legend {
  color: #4CAF50;
  font-size: 1.5em;
  }
  
fieldset > fieldset{
  margin: 1em 0 1em 0;
}

fieldset > fieldset > legend {
    font-size: 1em;
}

.tooltip {
    position: relative;
    background-color: #4CAF50;
    border: 1px solid black;
    width: 1em;
    display: inline-block;
    text-align: center;
}

.tooltip:hover {
    -webkit-box-shadow: 2px 2px 3px grey;
    -moz-box-shadow: 2px 2px 3px grey;
    box-shadow: 2px 2px 3px grey;
} 

/* text for the tooltip*/
.tooltip span {
    visibility: hidden;
    width: auto;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px;
    border: 1px solid black;
    position: absolute;
    z-index: 1;
    left: 110%;
    top: -5px;
    font-size: smaller;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover span {
    visibility: visible;
}

ul {
    overflow: hidden; /* fix position of bullet points at the side of floating blocks
                       * see https://stackoverflow.com/a/710264/498634 */
}

/******** footer part ********/

footer {
    background-color: #333333;
    color: #f5f5ef;
    position: absolute; /*necessary to position it at the bottom in all cases*/
    bottom: 0;
    width: 100%;
    padding: 0.5em 1em 0.5em 1em;
    margin: 0 auto;
    display: inline-block;
    line-height: 1.5;
    height: 10em; /*adjust if there are additional links in the footer*/
}

footer nav ul {
    list-style-type: none;
    float: left;
}

footer nav ul:first-child {
	padding-left: 10px;
}

footer nav h4 {
    margin: 0;
}

footer a {
    color: inherit;
}

footer a:hover {
    text-decoration: underline;
}
