/******** start general settings ********/
:root {
    --cc-primary: var(--bs-primary);
    --cc-green-dark: #3A8E3D;
    --cc-green-light: #6CBF6F;
}

body {
    margin: 0;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

textarea {
    resize: vertical;
}

.btn-sm.btn-quad {
    padding: .25rem;
}

.btn-icon-1 {
    width: calc(24px + 1.5rem);
}

.table colgroup+thead {
    border-top: none !important;
}

ul.non-intended {
    margin-left: 0px;
    padding-left: 17px;
}

.tiny {
    font-size: 65%;
}

.hov-under:hover,
.hov-under:focus,
footer a:hover,
footer a:focus,
.alert-link:hover,
.alert-link:focus {
    text-decoration: underline;
}

.md p {
    margin: 0;
}

/*===========================================================================
  align material icons vertical: https://stackoverflow.com/questions/56171473/different-material-icons-styles-do-not-align
  ===========================================================================*/
i.material-icons,
i.material-icons-outlined {
    vertical-align: middle;
    position: relative;
}

.material-icons.md-36 {
    font-size: 36px;
}


/*===========================================================================
  markdown preview
  ===========================================================================*/
.row .markdown-preview {
    overflow: auto;
    background-color: #f0f0f0;
    border: 1px solid white;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
}

input.with-markdown-preview {
    height: 100%;
}

/*** header and footer links ***/
header a,
footer a {
    text-decoration: none;
    color: inherit;
}

header a:hover,
header a:focus,
footer a:hover,
footer a:focus {
    color: inherit;
}

/******** end general settings ********/


/******** start header part ********/
/*** general part ***/
header h1 {
    font-size: 2.5em;
}

/*** project nav ***/
#project_nav .nav-link {
    color: var(--bs-light);
}

#project_nav a:hover,
#project_nav a:focus {
    background: var(--bs-light);
    color: var(--bs-dark);
}

/*** submenu nav ***/
#submenu_nav a:hover,
#submenu_nav a.active,
#submenu_nav a:focus {
    color: var(--bs-light) !important;
    background: var(--cc-green-dark);
}

/*** login logout section ***/
.login-logout-btn {
    background-color: transparent;
    border: 0px;
    -webkit-box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.0) !important;
    -moz-box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.0) !important;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.0) !important;
}

.login-logout-btn:active,
.login-logout-btn:hover,
.login-logout-btn:focus {
    color: var(--bs-light);
}

/******** end header part ********/


/******** start content part ********/
.anchor {
    color: inherit !important;
    position: relative;
}

.anchor:before {
    content: '¶ ';
    color: grey;
    visibility: hidden;
    position: absolute;
    left: -20px;
}

.anchor:hover:before {
    visibility: visible;
}

.faq .anchor p {
    display: inline;
}

abbr[title] { /* reset default Browser style with underline */
    border-bottom:   none;
    text-decoration: none;
}

code {
    background-color: LightGray;
    border-radius: 0.25em;
    padding:       0.25em;
}

button.alert-link {
    background: transparent;
    border: none;
    padding: 0;
}

/* <li>s with checkbox inside should not have any bullet point */
li.checkbox {
    list-style-type: none;
}

form th {
    text-align: left;
}

table td input[type="checkbox"]:first-child:last-child {
    /* center single checkbox in table column */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table td.right-align {
    text-align: right
}

fieldset {
    border: 1px solid #333333;
}

legend {
    color: #4CAF50;
    font-size: 1.5em;
}

fieldset>fieldset {
    margin: 1em 0 1em 0;
}

fieldset>fieldset>legend {
    font-size: 1em;
}

.cc-tooltip {
    cursor: pointer;
    display: inline-block;
}

.cc-tooltip:hover {
    box-shadow: 2px 2px 3px grey;
}

ul {
    overflow: hidden;
    /* fix position of bullet points at the side of floating blocks
                       * see https://stackoverflow.com/a/710264/498634 */
}

.pl-editor {
    min-width: 1150px;
}

input:focus {
    box-shadow: none !important;
}

/******** end content part ********/
