# EditorConfig is awesome:
# https://EditorConfig.org

############################################################################
# ATTENTION: If you edit this file, please change .perltidyrc accordingly! #
############################################################################

root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
