language: perl
perl:
- "5.30"
- "5.20"
- "5.18"
- "5.16"
- "5.14"
- "5.12"
- "5.10"
env:
- PERL_CPANM_OPT="--with-configure"
script:
- 'perl Makefile.PL && make test TEST_FILES="t/*.t xt/*.t"'    # same as Travis' default but run extended tests, too
