[% title = "Bad Request" %]

[% IF method == 'GET' OR method == 'HEAD' %]
    <p>The link to the page you requested is malformed or otherwise invalid.</p>
[% ELSE %]
    <p>The request you sent is not valid. Maybe refresh the form you submitted and try again.</p>
[% END %]
