<form method="POST" action="[% reset_password_url %]">
    <input type="password" name="password">
    <input type="password" name="password2">

    <input type="submit" value="Reset password">
</form>
