[% title = "Reset password" %]

<p>You’ve successfully verified your email address and can reset your password now:</p>

<form method="post" action="[% reset_password_url %]">
    <input type="password" name="password"  placeholder="new password">
    <input type="password" name="password2" placeholder="new password">

    <input type="submit" value="Reset password">
</form>
