<p>Username: [% user.name %]</p>

<p>Projects:</p>

<ul>
[% FOR proj IN projects %]
    <li><a href="[% c.uri_for_action('/project/edit', [proj.url_name]) %]">[% proj.name | html %]</a></li>
[% END %]
</ul>
