<h3>Projects</h3>

<ul>
[% FOR proj IN projects %]
    <li><a href="[% proj.url %]">[% '🔒' UNLESS proj.is_public; proj.name | html %]</a></li>
[% END %]
</ul>

<h3>Users</h3>

<ul>
[% FOR u IN users %]
    <li>
        <a href="[% u.url %]">[% u.display_name | html %] ([% u.name %])</a>
[% IF u.projects_count > 0 %]
        (owns [% numerus(u.projects_count, 'project', 'projects') %])
[% END %]
    </li>
[% END %]
</ul>
