<form method="POST" action="[% post_login_url %]">
    <input type="text"     name="username" value="coocook">
    <input type="password" name="password" value="">
    <input type="submit" value="Login">
</form>

<a href="[% recover_url %]">Lost your password?</a>
