<form method="POST" action="[% change_password_url %]">
<fieldset>
    <legend>Change your password</legend>
    <input type="password" name="old_password">
    <input type="password" name="new_password">
    <input type="password" name="new_password2">

    <input type="submit" value="Change password">
</fieldset>
</form>
