<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        [% title        _ ' · ' | html IF title %]
        [% project.name _ ' · ' | html IF project %]
        [% name | html %]
    </title>

    <meta charset="UTF-8">

    <meta name="description" content="[% meta_description %]">
    <meta name="keywords"    content="[% meta_keywords %]">
    <meta name="robots"      content="[% meta_robots %]">

[% IF canonical_url %]
    <link rel="canonical" href="[% canonical_url %]">
[% END %]

[% IF icon_url %]
    <link rel="icon" type="[% icon_type %]" href="[% icon_url %]">
[% END %]
[% FOR sizes IN icon_urls.keys %]
    <link rel="apple-touch-icon-precomposed" [% IF sizes.length %]sizes="[% sizes %]"[% END %] href="[% icon_urls.$sizes %]">
[% END %]

[% FOREACH path IN css %]
    <link rel="stylesheet" href="[% path %]">
[% END %]
</head>

<body>
<!--container div is necessary to keep the footer down, see https://matthewjamestaylor.com/bottom-footer -->
<div id="container">
<header>

<nav id="user_nav">
<div id="h1-div">
	<h1>
		<a href="[% homepage_url %]">[% name | html %]</a>
	</h1>
</div>

<ul>
[% IF user %]<h4>Welcome to [% name | html %], <a href="[% user_url %]">[% user.display_name | html %]</a></h4>[% END %]

[% IF logout_url %]
[% IF project %]
	<p>You're currently working on <a href="[% project_urls.project %]">project [% project.name | html%]</a></p>
[% ELSE %]
	<p>Please create or choose a project now.</p>
[% END %]
[% END %]

<div>
[% IF login_url %]
    <li><a href="[% login_url %]">Sign in</a></li>
[% END %]

[% IF register_url %]
    <li><a href="[% register_url %]">Sign up</a></li>
[% END %]

[% IF settings_url %]
    <li><a href="[% settings_url %]">Account Settings</a></li>
[% END %]

[% IF logout_url %]
    <li>
        <form class="inline" method="post" action="[% logout_url %]">
            <input type="submit" name="logout" value="Sign out">
        </form>
    </li>
[% END %]
</div>

</ul>
</nav>

<nav id="project_nav">
<ul>
[% IF dashboard_url %]
    <li><a href="[% dashboard_url %]">Start</a></li>
[% ELSIF homepage_url %]
    <li><a href="[% homepage_url %]">Start</a></li>
[% END %]

[% IF project_urls %]
    |
    <li><a href="[% project_urls.project %]">Project</a></li>
    <li><a href="[% project_urls.recipes %]">Recipes</a></li>
    <li><a href="[% project_urls.articles %]">Articles</a></li>
    <li><a href="[% project_urls.tags %]">Tags</a></li>
    <li><a href="[% project_urls.purchase_lists %]">Purchase Lists</a></li>
    <li><a href="[% project_urls.units %]">Units</a></li>
    <li><a href="[% project_urls.import %]">Import</a></li>
[% END %]
</ul>
</nav>


<nav id="submenu_nav">
[% FOR item IN submenu_items;
    IF item.url %]
        <a href="[% item.url %]">[% item.text %]</a>
    [% ELSE; # TODO setting href="" doesn't work if page is response to POST request and URL isn't available via GET %]
        <a href="" class="current">[% item.text %]</a>
    [% END;
END %]
</nav>
</header>

<main>
    <h1 id="print_h1" style="display: none">[% name | html; IF project %]: [% project.name | html; END %]</h1>

[% IF html_title %]<h2>[% html_title # may contain HTML %]</h2>
[% ELSIF   title %]<h2>[% title | html %]</h2>
[% END %]

[% WHILE (message = messages.next) %]
    <div class="message message-[% message.type %]">
    [% IF message.html;
        message.html;
    ELSE %]
        <p>[% message.text | html %]</p>
    [% END %]
    </div>
[% END %]

[% content %]
</main>

<footer>
    <nav>
        <ul>
            <h4>Browse</h4>
            <li><a href="[% recipes_url %]">Recipes</a></li>
        </ul>
    </nav>

    <nav>
[% IF project_urls %]
        <ul>
            <h4>Project Parameters</h4>
            <li><a href="[% project_urls.units %]">Units & Quantities</a></li>
            <li><a href="[% project_urls.tags %]">Tags</a></li>
            <li><a href="[% project_urls.shop_sections %]">Shop Sections</a></li>
        </ul>
[% END %]

        <ul>
            <h4>Get Help</h4>
[% IF faq_url %]
            <li><a href="[% faq_url %]"><abbr title="Frequently Asked Questions">FAQ</abbr></a></li>
[% END %]
[% FOR help_link IN help_links %]
            <li><a href="[% help_link.url %]">[% help_link.title | html %]</a></li>
[% END %]
        </ul>

[% IF admin_urls %]
        <ul>
            <h4><a href="[% admin_url %]">Admin</a></h4>
            <li><a href="[% admin_urls.faq %]">FAQ</a></li>
            <li><a href="[% admin_urls.projects %]">Projects</a></li>
            <li><a href="[% admin_urls.terms %]">Terms</a></li>
            <li><a href="[% admin_urls.users %]">Users</a></li>
        </ul>
[% END %]

        <ul>
            <h4>About [% name | html %]</h4>
            <li><a href="[% statistics_url %]">Statistics</a></li>
            <li><a href="[% about_url %]">[% about_title %]</a></li>
[% IF terms_url %]
            <li><a href="[% terms_url %]">Terms</a></li>
[% END %]
        </ul>
    </nav>
</footer>

[% FOR path IN js %]
<script src="[% path %]"></script>
[% END %]

[% footer_html %]

</div>
</body>
</html>
