<html>
<head>
    <title>[% c.config.name %]</title>

    <meta charset="UTF-8">
</head>

<body>

<h1>
    <a href="[% c.uri_for('/') %]">[% c.config.name %]</a>
    <a href="[% c.uri_for_action('/project/edit', my_project.id) %]">[% my_project.name %]</a>
</h1>

<nav>
<ul>
<li><a href="[% c.uri_for_action('/project/index') %]">Projects</a></li>
<li><a href="[% c.uri_for_action('/recipe/index') %]">Recipes</a></li>
<li><a href="[% c.uri_for_action('/article/index') %]">Articles</a></li>
<li><a href="[% c.uri_for_action('/tag/index') %]">Tags</a></li>
<li><a href="[% c.uri_for_action('/shopsection/index') %]">Shop sections</a></li>
<li><a href="[% c.uri_for_action('/quantity/index') %]">Quantities</a></li>
<li><a href="[% c.uri_for_action('/unit/index') %]">Units</a></li>
</ul>
</nav>

[% content %]

</body>
</html>
