<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        [% title        _ ' · ' | html IF title %]
        [% project.name _ ' · ' | html IF project %]
        [% name | html %]
    </title>

    <meta charset="UTF-8">

    <meta name="description" content="[% meta_description %]">
    <meta name="keywords"    content="[% meta_keywords %]">

[% IF icon_url %]
    <link rel="icon" type="[% icon_type %]" href="[% icon_url %]">
[% END %]

[% FOREACH path IN css %]
    <link rel="stylesheet" href="[% path %]">
[% END %]
</head>

<body>
<!--container div is necessary to keep the footer down, see https://matthewjamestaylor.com/bottom-footer -->
<div id="container">
<header>
<h1>
    <a href="[% homepage_url %]">[% name | html %]</a>
[%~ IF project_urls ~%]
    :
    <a href="[% project_urls.project %]">[% project.name | html %]</a>
[% END %]
</h1>

<nav id="user_nav">
<ul>
    <li>
        [% IF user %]<a href="[% user_url %]">[% user.display_name | html %]</a>[% END %]
        [% IF project %]on [% project.name | html; END %]
    </li>

[% IF dashboard_url %]
    <li><a href="[% dashboard_url %]">Dashboard</a></li>
[% END %]

[% IF login_url %]
    <li><a href="[% login_url %]">Login</a></li>
[% END %]

[% IF register_url %]
    <li><a href="[% register_url %]">Register</a></li>
[% END %]

[% IF settings_url %]
    <li><a href="[% settings_url %]">Settings</a></li>
[% END %]

[% IF logout_url %]
    <li>
        <form class="inline" method="POST" action="[% logout_url %]">
            <input type="submit" name="logout" value="Logout">
        </form>
    </li>
[% END %]
</ul>
</nav>

[% IF project_urls %]
<nav id="project_nav">
<ul>
    <li><a href="[% project_urls.project %]">Meals &amp; Dishes</a></li>
    <li><a href="[% project_urls.recipes %]">Recipes</a></li>
    <li><a href="[% project_urls.articles %]">Articles</a></li>
    <li><a href="[% project_urls.tags %]">Tags</a></li>
    <li><a href="[% project_urls.purchase_lists %]">Purchase Lists</a></li>
    <li><a href="[% project_urls.units %]">Units</a></li>
    <li><a href="[% project_urls.import %]">Import</a></li>
</ul>
</nav>
[% END %]

<nav id="submenu">
[% FOR item IN submenu_items;
    IF item.url %]
        <a href="[% item.url %]">[% item.text %]</a>
    [% ELSE %]
        <a href="" class="current">[% item.text %]</a>
    [% END;
END %]
</nav>
</header>

<main>
[% IF html_title %]<h2>[% html_title # may contain HTML %]</h2>
[% ELSIF   title %]<h2>[% title | html %]</h2>
[% END %]

[% FOREACH error IN errors %]
    <p class="error">[% error | html %]</p>
[% END %]

[% content %]
</main>

<footer>
    <nav>
[% IF project_urls %]
        <ul>
            <h4>Project Parameters</h4>
            <li><a href="[% project_urls.units %]">Units & Quantities</a></li>
            <li><a href="[% project_urls.tags %]">Tags</a></li>
            <li><a href="[% project_urls.shop_sections %]">Shop Sections</a></li>
        </ul>
[% END %]

        <ul>
            <h4>Get Help</h4>
            <li><a href="[% help_url %]">[% help_title | html %]</a></li>
[% IF faq_url %]
            <li><a href="[% faq_url %]"><abbr title="Frequently Asked Questions">FAQ</abbr></a></li>
[% END %]
        </ul>

        <ul>
            <h4>About [% name | html %]</h4>
[% IF admin_url %]
            <li><a href="[% admin_url %]">Admin</a></li>
[% END %]
            <li><a href="[% statistics_url %]">Statistics</a></li>
            <li><a href="[% about_url %]">[% about_title %]</a></li>
[% IF terms_url %]
            <li><a href="[% terms_url %]">Terms</a></li>
[% END %]
        </ul>
    </nav>
</footer>

[% FOR path IN js %]
<script src="[% path %]"></script>
[% END %]

</div>
</body>
</html>
