<p>
[% submenu_items = [
    { url => edit_url,        text => "Edit project" },
    { url => permissions_url, text => "Permissions" },
    { url => settings_url,    text => "Project settings" },
];

FOR item IN submenu_items;
    IF item.url %]
        <a href="[% item.url %]">[% item.text %]</a>
    [% ELSE %]
        [% item.text %]
    [% END;
END %]
</p>

[% INCLUDE 'print/project.tt' %]
