[% title = "Tags" %]

[% FOR group IN groups %]
<h3>Tag Group [% group.name | html %]</h3>

<p>Tags:
    [% FOR tag IN group.tags %]
    <a href="[% tag.edit_url %]">[% tag.name | html %]</a>
    [% END %]
</p>
[% END %]

<h3>Other Tags</h3>

<p>Tags:
[% FOR tag IN other_tags %]
    <a href="[% tag.edit_url %]">[% tag.name | html %]</a>
[% END %]
</p>
