[% title = "Add tag group" %]

<form action="[% create_url %]" method="POST">
    <p>Name: <input type="text" name="name" placeholder="name"></p>

    <p>Comment: <input type="text" name="comment" placeholder="comment"></p>

    <p><input type="submit" value="Create"></p>
</form>
