<h2>Printing</h2>

<ul>
    <li><a href="[% c.uri_for_action('/print/project', 1) %]">Project</a></li>
[% FOREACH day IN days %]
    <li><a href="[% c.uri_for_action('/print/day', day.year, day.month, day.day)  %]">Plan for day [% day.ymd %]</a></li>
[% END %]
</ul>
