Hi [% user.display_name %],

the password for your account [% user.name %] at [% name %] has changed.

If you changed the password yourself, everything is fine.

Otherwise you can recover your account by resetting your password via [% recovery_url %]

[% name %]
