[% email.subject = BLOCK %]New account '[% user.name %]' registered at [% name; END ~%]

Hi [% admin.display_name %]!

Somebody registered an account at [% name %].

Username: "[% user.name %]"

Email address: [% email_anonymized %]

User page: [% user_url %]

User page for site admins: [% user_admin_url %]

This is just a notification. Everything is probably fine.

You received this email because you are site owner at [% name %].

[% name %]
