[% email.subject = BLOCK %]Account recovery at [% name; END ~%]

Hi [% email.to %]!

Somebody at [% name %] tried to recover a password for your email address
but your email address is not yet registered at [% name %].

Do you want to register an account at [% name %]? Then go to
[% register_url %]

Otherwise you can ignore this email.

[% name %]
