[% email.subject = BLOCK %]Account recovery at [% name; END ~%]

Hi [% user.display_name %]!

Somebody requested to recover your account '[% user.name %]' at [% name %].

If you want to reset your password, you can do so at the page
[% recovery_url %]

The link is valid until [% display_datetime(expires) %].

If you didn’t request the recovery, you can safely ignore this email.

[% name %]
