[% IF user;
    title = "Projects";
ELSE;
    title = "Public Projects";
END %]

<ul>
[% FOR proj IN projects; # don't overwrite $project! %]
    <li>[% '🔒' UNLESS proj.is_public %]<a href="[% proj.url %]">[% proj.name | html %]</a></li>
[% END %]
</ul>
