<h2>Recipes</h2>

<ul>
[% FOR recipe IN recipes.all %]
	<li><a href="[% c.uri_for_action('/recipe/edit', recipe.id) %]">[% recipe.name %]</a>
		<form action="[% c.uri_for_action('/recipe/delete', recipe.id) %]" method="post"><input type="submit" value="Delete"></form>
	</li>
[% END %]
</ul>

<form action="[% c.uri_for_action('/recipe/create') %]" method="post">
<input type="text" name="name" placeholder="name">
<input type="submit" value="Create">
</form>
